.blog-top-content{
    text-align: center;
    align-items: center;
    margin-bottom: 50px;
}

.blog-item{
    width: 30%;
    padding: 30px 25px;
    border-radius: 0.5rem ;
    background: var(--color-primary);
    margin-bottom:20px ;
}

.blog-item h3{
    color: var(--color-gray-100);
    font-weight: 400;
    font-size: 1.5rem;
   
}

.blog-img{
    margin-bottom: 30px;
}


.blog-img img {
    width: 100%;

}

.blog-desc{
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.learn-more {
   font-size:1.8rem ; 
   color: var(--color-gray-100);
   
   cursor: pointer;
}