.blog-posts {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    background-color: rgb(6, 2, 8);
  }
  
  h1 {
    margin: 1rem auto 4rem;
    color: var(--color-primary);
  }
  
  .product--image {
    width: 100%;
    height: 16em;
    object-fit: cover;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 var(--color-primary);
    color: white;
    max-width: 320px;
    margin: auto 1rem;
    text-align: center;
    font-family: arial;
  }

  .card:hover{
    transform: scale(1.05);
    transition: 0.4s ease-in-out;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: var(--color-primary);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;

  }