footer{
    background:  rgb(6, 2, 8);
    margin-top: 7rem;
    padding-top: 7rem;
    font-size: 0.9rem;
    color: var(--color-gray-100);
}

.footer__container{
   display:grid ;
   grid-template-columns: 26rem 1fr 1fr 1fr;
   margin: 4rem ;
   gap: 6rem;
}
.logo img{
    border-radius: 50px;
    margin: 0rem ;

}

.footer__container article{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.7rem;
}

.footer__container article p{
    margin-top: 0.5rem;
    font-size: medium;
}
.footer__container article Link:hover{
    margin-top: 0.5rem;
    /* transform: scale(1.3);
    z-index: 1 ; */
}

.footer__container article h4{
    margin: 2rem ;
   margin-bottom: 0.6rem; 
   font-size: 1rem;
}

.footer__container article h3{
   margin-bottom: 0.6rem; 
   font-size: 1rem;
}

.footer__socials{
  margin-top: 1.5rem;
  margin: 2rem ;  
  display: flex;
  gap: 1rem;
  align-items: center;
}

.footer__socials a{
    background: var(--color-gray-100) ;
    padding: 0.7rem;
    border: 1px solid transparent;
    border-radius: 0.6rem ;
    transition: var(--transition);
}

.footer__socials a svg{
    color: var(--color-gray-600);

}

.footer__socials a:hover {
    border-color: var(--color-gray-100) ;
    background: transparent;
}

.footer__copyright{
    color: var(--color-gray-100);
    text-align: center;
    padding: 1.5rem 0;
    border-top: 2px solid var(--color-primary-variant);
    margin-top: 5rem;

}
@media screen and (max-width: 1024px) {
    .footer .container {
        grid-template-columns: 1fr 1fr;
    }

    .footer h4 {
        margin-top: 2rem;
    }
}

