.about {
    width: 100%;
    text-align: center;
    padding: 3rem 1rem;
 background-color: rgb(6, 2, 8);
}

.about h2 {
    margin: 1rem 0;
    color: var(--color-primary-variant);
}

.about .container {
    max-width: 1140px;
    margin: auto;
}

.about .container > p {
    margin: 1rem 0 3rem 0;
    font-size: 1.2rem;
    color: #f8f8f8;
}

.about .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 2rem;
    column-gap: 1rem;
    row-gap: 1rem;
}

.about .card {
    flex-direction: column;
    justify-content: space-between;
    height: 390px;
    padding: 3rem 2rem;
    border: 1px solid #e7e8ea;
    text-align: left;
    border-radius: 24px;
    margin: auto;
    background-color: #000;
}
.about .card:hover {
    transform: scale(1.05);
    transition: 0.4s ease-in-out;
}


.about .card h3 {
    margin: 1rem 0;
    color: #f8f8f8;
}

.about .card p {
    color: #ccc;
}

.about .icon-container {
    background-color: var(--primary-blue);
    border-radius: 50px;
    display: inline-flex;
    padding: 1rem;
}

.about .icon {
    font-size: 2rem;
    color: #333;
    
    
    
}

.about .icon text{
    margin-bottom: 1rem;
}

.about .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    width: 100px;
    height: 35px;
    border-radius: 15px ;
    background: var(--color-primary-variant);
}

@media screen and (max-width:940px) {
    .about .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width:600px) {
    .about .card-container {
        grid-template-columns: 1fr;
    }
}











/* .data {
    width: 100%;
    height: 100vh;
    position: relative;
    background: rgba(0, 0, 0, .1);
}

.mission-img{
    border-radius: 26px;
    overflow: hidden;
    transition: var(--transition);
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.data:before {
    content: '';
    position: absolute;
    background: url('../../assets/data-bg.png')no-repeat center center/cover;
    /* background: var(--color-gray-600); */
    /* height: 100%;
    width: 100%;
    z-index: -1;
}

.data .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 30%;
    width: 50%;
}

.data .content p {
    margin: 1rem 0;
}

@media screen and (max-width: 940px) {
    .data .content {
        left: 0;
        width: 100%;
        padding: 1rem;
        background: rgba(255, 255, 255, .7);
    }
} */ 