@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --primary-hue:210;
  --gray-hue:240;
  --color-primary:hsl(var(--primary-hue),100%, 50%);
  --color-primary-variant: hsl(var(--primary-hue), 100%, 65%);
  --color-gray-100:hsl(var(--gray-hue),47%,94%);
  --color-gray-200:hsl(var(--gray-hue),26%,75%);
  --color-gray-300:hsl(var(--gray-hue),24%,64%);
  --color-gray-400:hsl(var(--gray-hue),16%,41%);
  --color-gray-500:hsl(var(--gray-hue),44%,25%);
 --color-gray-600 :hsl(var(--gray-hue),48%,15%);


  --transition: all 500ms ease;

}
span {
  color: var(--color-primary);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  margin: 0;
  font-family: 'Roboto', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
background: black
   ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  font-size: 1.2rem;
  line-height: 1.4;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3.5rem;
}

.container {
  max-width: 1240px;
  margin: auto;
  height: 100%;
  position: relative;
}

button {
  font-family: 'Roboto', sans-serif;
  padding: .7rem 1.5rem;
  margin: 1rem 0;
  background-color: var(--color-primary);
  border: 1px solid var(--primary-color-variant);
  color: #f8f8f8;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  border-radius: 15px;
}

button:hover {
  background-color: var(--color-primary);
  border: 1px solid #47dcff;
}

@media screen and (max-width: 940px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }
}

