@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

.container{
  background: black;
width: 100%;
margin: auto;
margin-bottom: 2rem;


}
.slider{
  margin: 0 auto;
  width: 100%;
  height: 130px;
  margin-bottom: 8rem;
 ;
}

 .slide img{
  width: 75%;
  height: 75%;
  border-radius: 15px;
  gap: 1rem;
  
}

.slide{
  margin-bottom: 100px;
  display: block;
  opacity: .5 ;
  transform: scale(.7);
  transition: .5s;
  filter: blur(5px);

  
}


.header{
  margin: 50px;
  text-align: center;
  color: var(--color-primary);
}

.slide-active{
  filter: blur(0);
  opacity: 1;
  transform: scale(1.1);
  
}
h4{
  color: antiquewhite;
  margin-top: 1rem;
}
.arrow{
  font-size: 30px;
  padding: 5px 15px;
  border-radius: 10px ;
  box-shadow: 0 0 5px 3px var( --color-gray-100);
  background: var( --color-primary);
  color: var(--color-gray-100);
  display: flex;
  width: 50px  ;
  position: absolute;
  top: 100px;
  z-index: 100;
  cursor: pointer;
  
}

.arrow-right{
  float: right;
}
.arrow-left{
  float: left;
}

@media only screen and (max-width: 1024px) {
  .slider {
    height: 100px;
  }

  .slide img {
    width: 50%;
    height: 50%;
  }

  .slide {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 940px) {
  .slider {
    height: 80px;
  }

  .slide img {
    width: 40%;
    height: 40%;
  }

  .slide {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 480px) {
  .slider {
    height: 60px;
  }

  .slide img {
    width: 30%;
    height: 30%;
  }

  .slide {
    margin-bottom: 20px;
  }
}


